html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #FFFFFF;
  --blue: #016A99;
  --violet: #9A4DFF;
  --orange:#FF9D01;
  --pink:#CC1F72;
  --green:#64BD0B;
  --grey: #F0F0F0;
}
@media (prefers-color-scheme: dark) {
  html {
    
  }
  body {
    
    
  }
}
